<%= form_for([@user_dictionary, @new_entry]) do |f| %>
  <% if @new_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_entry.errors.count, "error") %> prohibited this new_entry from being saved:</h2>

      <ul>
      <% @new_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :view_title, "Entry name" %><br />
    <%= f.text_field :view_title %>
  </div>
  <div class="field">
    <%= f.label :uri, "ID*" %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :label, "Label*" %><br />
    <%= f.text_field :label %>
  </div>
  <div class="actions">
    <%= f.submit "Create a new entry", {:class =>"customized_button"} %>
  </div>

  <p>
  * <i>ID</i> is usually used to be the unique identifier of an entry such as gene ID.<br />
  * <i>Label</i> usually stands for the semantic class of an entry such as gene, protein, and so on.<br />
  </p>
<% end %>
