<% content_for :page_title do %>
  <span class="page_title">Sign up</span>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>
	  <tr>
		  <th><%= f.label :username %></th>
		  <td><%= f.text_field :username, :autofocus => true, class: 'form-field' %></td>
		</tr>

		<tr>
		  <th><%= f.label :email %></th>
		  <td><%= f.email_field :email, class: 'form-field' %></td>
		</tr>

		<tr>
		  <th><%= f.label :password %></th>
		  <td><%= f.password_field :password, class: 'form-field' %></td>
		</tr>

		<tr>
		  <th><%= f.label :password_confirmation %></th>
		  <td><%= f.password_field :password_confirmation, class: 'form-field' %></td>
		</tr>

		<tr>
		  <th></th>
		  <td><%= recaptcha_tags %></td>
		</tr>

		<tr>
			<th colspan="2"><%= f.submit "Sign up", class: :button %></th>
		</tr>
	</table>
<% end %>
<div>
<h3>Note</h3>
<p>Your <b>username</b> will become a part of the URL to your user page.</p>
<p>It may include
  <ul>
    <li>lowercase letters (a - z),</li>
    <li>decimal digits (0 - 9),</li>
    <li>hyphen ('-'), and underscore ('_').</li>
  </ul>
</p>
<p>However, it must not begin with a hyphen or a underscore.</p>
</div>

<br/>
<%= render "devise/shared/links" %>
