<h1>Listing new_entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Label</th>
    <th>Uri</th>
    <th>User dictionary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_entries.each do |new_entry| %>
  <tr>
    <td><%= new_entry.title %></td>
    <td><%= new_entry.label %></td>
    <td><%= new_entry.uri %></td>
    <td><%= new_entry.user_dictionary_id %></td>
    <td><%= link_to 'Show', new_entry %></td>
    <td><%= link_to 'Edit', edit_new_entry_path(new_entry) %></td>
    <td><%= link_to 'Destroy', new_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New entry', new_new_entry_path %>
