<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @new_entry.title %>
</p>

<p>
  <b>Label:</b>
  <%= @new_entry.label %>
</p>

<p>
  <b>Uri:</b>
  <%= @new_entry.uri %>
</p>

<p>
  <b>User dictionary:</b>
  <%= @new_entry.user_dictionary_id %>
</p>


<%= link_to 'Edit', edit_new_entry_path(@new_entry) %> |
<%= link_to 'Back', new_entries_path %>
