<%
  tr_class = if @dictionary.editable?(current_user)
    case entry.mode
      when EntryMode::GRAY then "entry gray"
      when EntryMode::WHITE then "entry white"
      when EntryMode::BLACK then "entry black"
      when EntryMode::AUTO_EXPANDED then "entry auto expanded"
      else "entry"
    end
  else
    "entry"
  end
%>

<tr class="<%= tr_class %>">
  <td>
    <span title="<%= entry.label%>"><%= entry.label %></span>
  </td>
  <td style="border-right-style: none">
    <%=
      if is_url?(entry.identifier)
        link_to(entry.identifier, entry.identifier, title: entry.identifier)
      else
        content_tag(:span, entry.identifier, title: entry.identifier)
      end
    -%>
  </td>
  <td style="border-left-style: none">
    <div class="buttons-container">
      <%= link_to('<i class="fa fa-angle-double-right" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary, id_search:entry.identifier), title: 'See synonyms (entries with the same Id)') -%>

      <%#= link_to('<i class="fa-solid fa-link"></i>'.html_safe, pub_annotation_search_url(entry, @dictionary), title: 'search') -%>

    </div>
  </td>

  <% if @dictionary.use_tags? %>
    <td style="border-right-style: none">
      <% entry.tags.each do |tag| %><span class="tag"><%= tag.value %></span><% end %>
    </td>
  <% end %>

  <% if @type_entries == 'Auto expanded' %>
    <td style="border-right-style: none">
      <%= entry.score %>
    </td>
  <% end %>
  <% if @dictionary.editable?(current_user) %>
    <td style="text-align: center">
      <% case entry.mode %>
      <% when EntryMode::GRAY %>
        <input type="checkbox" name="entry_id[]" id="entry_id_<%= entry.id %>" class="chkbox" value="<%= entry.id %>">
      <% when EntryMode::WHITE %>
        <%= link_to('<i class="fa-regular fa-trash-can" aria-hidden="true"></i>'.html_safe, undo_dictionary_entry_path(@dictionary, entry), method: :put, title: 'Remove') %>
      <% when EntryMode::BLACK %>
        <%= link_to('<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe, undo_dictionary_entry_path(@dictionary, entry), method: :put, title: 'Back to gray') %>
      <% when EntryMode::AUTO_EXPANDED %>
        <input type="checkbox" name="entry_id[]" id="entry_id_<%= entry.id %>" class="chkbox" value="<%= entry.id %>">
      <% else %>
      <% end %>
    </td>
  <% end %>
</tr>
