<%
  tr_class = if @dictionary.editable?(current_user)
    case entry.mode
      when Entry::MODE_GRAY then "entry gray"
      when Entry::MODE_WHITE then "entry white"
      when Entry::MODE_BLACK then "entry black"
      else "entry"
    end
  else
    "entry"
  end
%>

<tr class="<%= tr_class %>">
  <td>
    <span title="<%= entry.label%>"><%= entry.label %></span>
  </td>
  <td style="border-right-style: none">
    <%=
      if is_url?(entry.identifier)
        link_to(entry.identifier, entry.identifier, title: entry.identifier)
      else
        content_tag(:span, entry.identifier, title: entry.identifier)
      end
    -%>
  </td>
  <td style="border-left-style: none">
     <%= link_to('<i class="fa fa-search" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary, id_search:entry.identifier), title: 'search') -%>
  </td>
  <% if @dictionary.editable?(current_user) %>
    <td style="text-align:center">
      <% case entry.mode %>
      <% when Entry::MODE_GRAY %>
        <input type="checkbox" name="entry_id[]" id="entry_id_<%= entry.id %>" class="chkbox" value="<%= entry.id %>">
      <% when Entry::MODE_WHITE %>
        <%= link_to('<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, undo_dictionary_entry_path(@dictionary, entry), method: :put, title: 'Remove') %>
      <% when Entry::MODE_BLACK %>
        <%= link_to('<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe, undo_dictionary_entry_path(@dictionary, entry), method: :put, title: 'Back to gray') %>
      <% else %>
      <% end %>
    </td>
  <% end %>
</tr>
