<% if @dictionary.editable?(current_user) || entry.mode != Entry::MODE_DELETION %>
  <%
    if @dictionary.editable?(current_user)
      label_class = case entry.mode
        when Entry::MODE_ADDITION then "label addition"
        when Entry::MODE_DELETION then "label deletion"
        else "label"
      end

      id_class = case entry.mode
        when Entry::MODE_ADDITION then "id addition"
        when Entry::MODE_DELETION then "id deletion"
        else "id"
      end

      tr_class = case entry.mode
        when Entry::MODE_ADDITION then "addition"
        when Entry::MODE_DELETION then "deletion"
        else "entry"
      end
    end
  %>

  <tr class="<%= tr_class %>">
    <td>
      <%= content_tag(:span, entry.label, class: label_class, title: entry.label) -%>
    </td>
    <td style="position:relative">
      <%=
        if is_url?(entry.identifier)
          link_to(entry.identifier, entry.identifier, class: id_class, title: entry.identifier)
        else
          content_tag(:span, entry.identifier, class: id_class, title: entry.identifier)
        end
      -%>
      <span style='position:absolute; right: 5px'>
        <%= link_to('<i class="fa fa-search" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary, id_search:entry.identifier), title: 'search') -%>
      </span>
    </td>
    <% if @dictionary.editable?(current_user) %>
      <td style="text-align:center">
        <% if entry.mode == 0 %>
          <input type="checkbox" name="entry_id[]" id="entry_id_<%= entry.id %>" class="chkbox" value="<%= entry.id %>">
        <% else %>
          <%= link_to('<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe, undo_dictionary_entry_path(@dictionary, entry), method: :put, title: 'Undo') %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>