<% if @dictionary.editable?(current_user) %>
  <%
    title_entry_type = case @type_entries
    when 'Gray'
      t('title.gray')
    when 'White'
      t('title.white')
    when 'Black'
      t('title.black')
    when 'Active'
      t('title.active')
    when 'Custom'
      t('title.custom')
    when 'Auto expanded'
      t('title.auto_expanded')
    end
  %>

  <h2 style="margin-bottom:0">
    <span title="<%= title_entry_type %>"><%= @type_entries %> entries</span>
    <% if params[:label_search] || params[:id_search] || params[:tag_search] -%>
      (search result
      <%= link_to('<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary), class: 'button', title: 'Cancel') %>
      )
    <% end %>
  </h2>
<% end %>

<table class="entries" style="margin-bottom:0; border-bottom-style:none">
  <%= render 'entries/colgroup', type_entries: @type_entries, dictionary: @dictionary %>
  <thead>
    <tr>
      <th>
        Label
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
          <%= text_field_tag :label_search, params[:label_search], required: true -%>
          <%= submit_tag 'Search', class: 'button' -%>
        <% end -%>
      </th>
      <th colspan="2">
        Id
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
          <%= text_field_tag :id_search, params[:id_search], required: true -%>
          <%= submit_tag 'Search', class: 'button' -%>
        <% end -%>
      </th>
      <th colspan="2">
          <%= form_tag '', method: :get, class: 'tag-search-container' do -%>
            Tags
            <%= select_tag :tag_search,
              options_for_select(
                Tag.where(dictionary_id: @dictionary.id).pluck(:value, :id),
                selected: params[:tag_search]
              ),
              { include_blank: true, required: true, class: 'js-searchable', style: "width: 150px;" }
            -%>
            <%= submit_tag 'Search', class: 'button' -%>
          <% end -%>
      </th>
      <% if @type_entries == 'Auto expanded' %>
        <th>Score</th>
      <% end %>
      <% if @dictionary.editable?(current_user) %>
        <th style="border-left-style: none"></th>
      <% end %>
    </tr>
  </thead>
</table>

<% if @dictionary.editable?(current_user) %>
  <%= form_tag(confirm_dictionary_entries_path(@dictionary), method: :put, id: 'confirm_entries_form') do %><% end %>
  <%= form_tag(dictionary_entries_path(@dictionary), method: :delete, id: 'delete_entries_form') do %><% end %>

  <%= form_tag(switch_entries_dictionary_entries_path(@dictionary), method: :put, id: 'switch_entries_form') do %>
    <table class="entries" style="margin-top:0; margin-bottom:0">
      <%= render 'entries/colgroup', type_entries: @type_entries, dictionary: @dictionary %>
      <%= render partial: "entries/entry", collection: @entries -%>

      <tr>
        <td colspan="5" style="border-style:none"></td>
        <% if ['Gray', 'Active'].include?(@type_entries) %>
          <td style="text-align:center">
            <a title="switch selected entries to black" href="javascript:{}" onclick="document.getElementById('switch_entries_form').submit(); return false;"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
          </td>
        <% elsif ['Auto expanded'].include?(@type_entries) %>
          <td style="border-style:none"></td>
          <td style="text-align:center">
            <div class="buttons-container">
              <a title="confirm selected entries to white" href="javascript:{}" onclick="if(confirm('Are you sure to confirm to white selected entries?')) { submitFormWithCheckedEntries('confirm_entries_form'); } return false;"><i class="fa-regular fa-circle-check"></i></a>
              /<a title="remove selected entries" href="javascript:{}" onclick="if(confirm('Are you sure to remove selected entries?')) { submitFormWithCheckedEntries('delete_entries_form'); } return false;"><i class="fa fa-trash-can" aria-hidden="true"></i></a>
            </div>
          </td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% else %>
  <table class="entries" style="margin-top:0; margin-bottom:0">
    <%= render 'entries/colgroup', type_entries: @type_entries, dictionary: @dictionary %>
    <%= render partial: "entries/entry", collection: @entries -%>
  </table>
<% end %>

<script>
  $(document).ready(function() {
    var $chkboxes = $('.chkbox');
    var lastChecked = null;

    $chkboxes.click(function(e) {
      if (!lastChecked) {
        lastChecked = this;
        return;
      }

      if (e.shiftKey) {
        var start = $chkboxes.index(this);
        var end = $chkboxes.index(lastChecked);

        $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);
      }

      lastChecked = this;
    });
  });

function submitFormWithCheckedEntries(formId) {
  const form = document.getElementById(formId);

  form.querySelectorAll(`input[name="entry_id[]"]`).forEach(input => input.remove());

  document.querySelectorAll('.chkbox:checked').forEach(checkbox => {
    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'entry_id[]';
    input.value = checkbox.value;
    form.appendChild(input);
  });

  form.submit();
}
</script>

<table class="entries" style="margin-top:2px">
  <colgroup>
    <col class="col_label">
    <col class="col_identifier">
    <col class="col_tags">
    <% if @type_entries == 'Auto expanded' %>
      <col class="col_score">
      <% if @dictionary.editable?(current_user) %>
        <col class="col_double_button">
      <% end %>
    <% else %>
      <col class="col_button">
    <% end %>
  </colgroup>
  <% if @dictionary.editable?(current_user) %>
    <%= form_tag(dictionary_entries_path(@dictionary), method: :post, id: "add_entry_form") do %>
      <tr>
        <td>
          <span><%= text_field_tag :label, nil, required: true, style: "box-sizing:content-box; width:90%" -%></span>
        </td>
        <td>
          <span><%= text_field_tag :identifier, nil, required: true, style: "box-sizing:content-box; width:90%" -%></span>
        </td>
        <td>
          <span><%= select_tag :tags, options_from_collection_for_select(Tag.where(dictionary_id: @dictionary.id), 'id', 'value'), multiple: true, class: 'js-searchable', style: "box-sizing:content-box; width:100%"  %></span>
        </td>
        <% if @type_entries == 'Auto expanded' %>
          <td></td>
        <% end %>
        <td style="text-align:center">
          <a title="add" href="javascript:{}" onclick="document.getElementById('add_entry_form').submit(); return false;"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<div class="table-control">
  <%= simple_paginate -%>
</div>
