<table class="entries">
  <thead>
    <tr>
      <th class="label">
        Label
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
  	      <%= text_field_tag :label_search, params[:label_search], required: true -%>
    	    <%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
        <%= link_to('Show all', dictionary_path(@dictionary), class: 'button') if params[:label_search] || params[:id_search] -%>
      </th>
      <th class="identifier">
        Id
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
        	<%= text_field_tag :id_search, params[:id_search], required: true -%>
        	<%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
      </th>
      <% if @dictionary.editable?(current_user) %>
        <th class="button_column"></th>
      <% end %>
    </tr>
  </thead>
  <%= render partial: "entries/entry", collection: @entries -%>
</table>

<div class="table-control">
<% if @labels.present? %>
  <%= paginate @labels %>
<% elsif @entries.present? %>
  <%= paginate @entries %>
<% end %>
</div>