<% if @dictionary.editable?(current_user) %>
  <%
    title_entry_type = case @type_entries
    when 'Gray'
      t('title.gray')
    when 'White'
      t('title.white')
    when 'Black'
      t('title.black')
    when 'Active'
      t('title.active')
    when 'Custom'
      t('title.custom')
    end
  %>

  <h2 style="margin-bottom:0">
    <span title="<%= title_entry_type %>"><%= @type_entries %> entries</span>
    <% if params[:label_search] || params[:id_search] -%>
      (search result
      <%= link_to('<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary), class: 'button', title: 'Cancel') %>
      )
    <% end %>
  </h2>
<% end %>

<table class="entries" style="margin-bottom:0; border-bottom-style:none">
  <colgroup>
    <col class="col_label">
    <col class="col_identifier">
    <col class="col_button">
    <col class="col_button">
  </colgroup>
  <thead>
    <tr>
      <th>
        Label
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
  	      <%= text_field_tag :label_search, params[:label_search], required: true -%>
    	    <%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
      </th>
      <th colspan="2">
        Id
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
        	<%= text_field_tag :id_search, params[:id_search], required: true -%>
        	<%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
      </th>
      <% if @dictionary.editable?(current_user) %>
        <th></th>
      <% end %>
    </tr>
  </thead>
</table>

<%= form_tag(dictionary_entries_path(@dictionary), method: :delete, id: "delete_entries_form") do %>
  <table class="entries" style="margin-top:0; margin-bottom:0">
    <colgroup>
      <col class="col_label">
      <col class="col_identifier">
      <col class="col_button">
      <col class="col_button">
    </colgroup>
    <%= render partial: "entries/entry", collection: @entries -%>

    <% if @dictionary.editable?(current_user) && ['Gray', 'Active'].include?(@type_entries) %>
      <tr>
        <td style="border-style:none"></td>
        <td colspan="2" style="border-style:none"></td>
        <td style="text-align:center">
          <a title="remove selected entries" href="javascript:{}" onclick="document.getElementById('delete_entries_form').submit(); return false;"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
        </td>
      </tr>
    <% end %>

  </table>
<% end %>

<script>
  $(document).ready(function() {
    var $chkboxes = $('.chkbox');
    var lastChecked = null;

    $chkboxes.click(function(e) {
      if (!lastChecked) {
        lastChecked = this;
        return;
      }

      if (e.shiftKey) {
        var start = $chkboxes.index(this);
        var end = $chkboxes.index(lastChecked);

        $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);
      }

      lastChecked = this;
    });
  });
</script>

<table class="entries" style="margin-top:2px">
  <colgroup>
    <col class="col_label">
    <col class="col_identifier">
    <col class="col_button">
  </colgroup>
  <% if @dictionary.editable?(current_user) %>
    <%= form_tag(dictionary_entries_path(@dictionary), method: :post, id: "add_entry_form") do %>
      <tr>
        <td>
          <span><%= text_field_tag :label, nil, required: true, style: "box-sizing:content-box; width:90%" -%></span>
        </td>
        <td>
          <span><%= text_field_tag :identifier, nil, required: true, style: "box-sizing:content-box; width:90%" -%></span>
        </td>
        <td style="text-align:center">
          <a title="add" href="javascript:{}" onclick="document.getElementById('add_entry_form').submit(); return false;"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </td>
      </tr>
    <% end %>
  <% end %>  
</table>

<div class="table-control">
  <%= simple_paginate -%>
</div>
