<div class="tab-bar">
<!--%= link_to 'TSV',  params.merge(controller: :dictionaries, action: :show, format: :tsv),  :class => 'tab' -%-->
</div>

<% if @dictionary.editable?(current_user) && (@addition_num > 0 || @deletion_num > 0) %>
  <table>
    <tr>
      <% if @addition_num > 0 %>
        <th style="background-color:#ffaaaa">#Added</th><td><%= @addition_num %></td>
      <% end %>
      <% if @deletion_num > 0 %>
        <th style="background-color:#aaffaa">#Deleted</th><td><%= @deletion_num %></td>
      <% end %>
      <td style="font-style:italic; color:red"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> You need to compile the dictionary for the performance of Text Annotation or Find IDs.</td>
    </tr>
  </table>
<% end %>

<table class="entries">
  <thead>
    <tr>
      <th class="label">
        Label
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
  	      <%= text_field_tag :label_search, params[:label_search], required: true -%>
          <%= link_to('<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary), class: 'button', title: 'Cancel') if params[:label_search] -%>
    	    <%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
      </th>
      <th class="identifier">
        Id
        <%= form_tag '', method: :get, :style=>'display:inline-block' do -%>
        	<%= text_field_tag :id_search, params[:id_search], required: true -%>
          <%= link_to('<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, dictionary_path(@dictionary), class: 'button', title: 'Cancel') if params[:id_search] -%>
        	<%= submit_tag 'Search', class: 'button' -%>
    	  <% end -%>
      </th>
      <% if @dictionary.editable?(current_user) %>
        <th class="button_column"></th>
      <% end %>
    </tr>
  </thead>
  <%= render partial: "entries/entry", collection: @entries -%>

  <% if @dictionary.editable?(current_user) %>
    <%= form_tag(dictionary_entries_path(@dictionary), method: :post, id: "add_entry_form") do %>
      <tr>
        <td>
          <%= text_field_tag :label, nil, required: true, style: "width:90%" -%>
        </td>
        <td>
          <%= text_field_tag :identifier, nil, required: true, style: "width:90%" -%>
        </td>
        <td style="text-align:center">
          <a title="add" href="javascript:{}" onclick="document.getElementById('add_entry_form').submit(); return false;"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </td>
      </tr>
    <% end %>
  <% end %>  
</table>

<div class="table-control">
<% if @labels.present? %>
  <%= paginate @labels %>
<% elsif @identifier.present? %>
<% elsif @entries.present? %>
  <%= paginate @entries %>
<% end %>
</div>