<!DOCTYPE html>
<html>

<head>
  <title>PubDictionaries</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="pubdictionaries">
  <div class="banner">
    <div class="logo">
  	 <%= image_tag("logo.png", :alt => "logo")%>
    </div>
    <div class="page_title">
  	 <%= @page_title || "PubDictionaries" %>
    </div>
  </div>

  <div class="authentication_information">
    <% if user_signed_in? %>
      You are logged in as <i><%= current_user.email %></i> | 
      <%= link_to "Edit profile", edit_user_registration_path %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      Please login first | 
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>    
  </div>

  <div class="columns">
  	<div class="side">
      <div class="links">
        <%= link_to "Top", root_path %><br />
        <%= link_to 'Dictionaries'.html_safe, dictionaries_path %><br />
        <%#= link_to "Manual", manual_index_path %>
        Manual<br />
        &#9500;Dictionaries<br />
        &#9474;&nbsp;&#9500;<%= link_to 'Sharing'.html_safe, manual_basic_path %><br />
        &#9474;&nbsp;&#9492;<%= link_to 'Manipulation'.html_safe, manual_advanced_path %><br />
        &#9492;Annotation<br />
        &nbsp;&nbsp;&nbsp;&#9500;<%= link_to 'PubAnn'.html_safe, manual_pubann_path %><br />
        &nbsp;&nbsp;&nbsp;&#9492;<%= link_to 'REST-APIs'.html_safe, web_services_index_path %><br />
        <a href="mailto:priancho@gmail.com">Contact</a><br />
        <br />
      </div>
  	</div>
    
    <div class="main">
      <% if notice %><p><%= flash[:notice] %></p><% end %>
      <% if alert %><p><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</body>

</html>
