<h1>Listing user_dictionaries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Dictionary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_dictionaries.each do |user_dictionary| %>
  <tr>
    <td><%= user_dictionary.user_id %></td>
    <td><%= user_dictionary.dictionary_id %></td>
    <td><%= link_to 'Show', user_dictionary %></td>
    <td><%= link_to 'Edit', edit_user_dictionary_path(user_dictionary) %></td>
    <td><%= link_to 'Destroy', user_dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User dictionary', new_user_dictionary_path %>
