<div class="welcome_page">
  
  <div class="top_message">
    <div class="title">W E L C O M E</div>
    <hr />
    <div class="desc">
      <b>PubDictionaries</b> aims to provide a platform in which users can easily share their dictionaries and automatically annotate texts with these dictionaries.
    </div>
  </div>
  <br />
  
  <div class="brief_usage_intro">

    See <%= link_to "how to share your dictionary", "/manual/basic#share_your_dictionary" %>
    <br />
    See <%= link_to "how to annotate text with shared dictionaries", "/manual/pubann" %>
    <br />
    <br />
    Also see to <%= link_to "how to manipulate an uploaded dictionary and export its content", manual_advanced_path %> 
  </div>
  <br />
  <br />

  <div class="body">
    <div class="latest_dictionaries">
      <table>
        <caption>Latest Dictionaries</caption>
        <tr><th>Name</th><th>Uploaded at</th></tr>
        <% @latest_dics.each do |latest_dic| %>
          <tr><td><%= link_to latest_dic.title, latest_dic %></td><td><%= latest_dic.created_at %></td></tr>
        <% end %>
      </table>
    </div>
  </div>
  <br />
  <br />

  <div class="history">
    <fieldset>
      <legend>History</legend>
      <!-- Adds the update information here -->
      
      <div class="release">
        <div class="version">Version 1.0</div>
        <div class="information">
          2014.01.26 - Initial release.
        </div>
      </div>
    </fieldset>
  </div>
</div>