<% content_for :page_title do %>
  <span class="page_title"><%= @user.username %></span>
<% end %>

<section>
  <section>
    <% if @user.editable?(current_user) %>
      <div style="margin: 4px 0">
      <table>
      <tr>
      <th>E-mail</th>
      <td><%= @user.email -%></td>
      </tr>
      <tr>
      <th>Last login</th>
      <td><%= @user.last_sign_in_at -%></td>
      </tr>
      </table>
      </div>
      <%= link_to 'Edit', edit_user_registration_path, :class => :button %>
    <% end %>
  </section>

  <section>
    <h2>Dictionaries</h2>

    <%= render partial: 'dictionaries/list' -%>

    <% if @user.editable?(current_user) %>
      <%= link_to t('views.shared.create'), new_dictionary_path, :class => :button %>
    <% end %>
  </section>

  <% if @user == current_user %>
    <section>
      <h2>Access Tokens</h2>
      <%= form_with url: access_tokens_path, method: :post do %>
        <button type="submit" class="button">Generate Access Token</button>
      <% end %>

      <% if @user.access_token.present? %>
        <table>
          <tr>
            <th>Access Token</th>
            <td id="access-token"><%= @user.access_token.token %></td>
            <td>
              <button id="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#access-token">
                <%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard', title: 'Copy to clipboard' %>
              </button>
            </td>
          </tr>
        </table>
      <% end %>
    </section>
  <% end %>

  <% if current_user && current_user.admin %>
    <section>
      <h2>Jobs</h2>
      <%= link_to 'sidekiq monitor', sidekiq_web_path, :class => :button %>
    </section>
  <% end %>

</section>

<script>
  new Clipboard('#clipboard-btn')
</script>
