<% content_for :page_title do %>
  <span class="page_title"><%= @user.username %></span>
<% end %>

<section>
  <section>
    <% if @user.editable?(current_user) %>
      <div style="margin: 4px 0">
      <table>
      <tr>
      <th>E-mail</th>
      <td><%= @user.email -%></td>
      </tr>
      <tr>
      <th>Last login</th>
      <td><%= @user.last_sign_in_at -%></td>
      </tr>
      </table>
      </div>
      <%= link_to 'Edit', edit_user_registration_path, :class => :button %>
    <% end %>
  </section>

  <section>
    <h2>Dictionaries</h2>

    <%= render partial: 'dictionaries/list' -%>

    <% if @user.editable?(current_user) %>
      <%= link_to t('views.shared.create'), new_dictionary_path, :class => :button %>
    <% end %>
  </section>

  <section>
    <h2>Access Tokens</h2>
    <button id="generate-token-button" class="button">Generate Access Token</button>
    <table id ="token-display" style="display: none">
      <tr>
        <th>Access Token</th>
        <td id="access-token"></td>
        <td>
          <button id="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#access-token">
            <%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard', title: 'Copy to clipboard' %>
          </button>
        </td>
      </tr>
    </table>
  </section>

  <% if current_user && current_user.admin %>
    <section>
      <h2>Jobs</h2>
      <%= link_to 'sidekiq monitor', sidekiq_web_path, :class => :button %>
    </section>
  <% end %>

</section>

<script>
  $(document).ready(() => {
    const clipboard = new Clipboard('#clipboard-btn')

    $('#generate-token-button').on('click', () => {
      $.ajax({
        url: '/access_tokens',
        method: 'POST',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
      })
      .done((data) => {
        $('#token-display').show();
        $('#access-token').text(data.token);
      })
    })
  })
</script>
