<%= render partial: 'select_dictionaries' -%>

<!-- Seach from -->
<%= form_tag '', method: :get, id: 'SearchExpression' do -%>
  <!-- Dictionaries -->
  <fieldset id='search_target_dictionaries' style='margin: 0.5em 0'>
    Filter by dictionaries<br />
    <%= render partial: 'dictionaries/search_target_dictionary', collection: @search_target_dictionaries, locals: {icon_class: 'times'} -%>
  </fieldset>

  <%= label_tag :output -%>
  <%= select_tag :output, options_for_select([['Id', 'id'], ['Full', 'full']], params[:output]) -%>
  <br />

  <% if params[:action] == 'expression_to_id' -%>
    <%= label_tag :fuzziness -%>
    <%= select_tag :fuzziness, options_for_select(%w(0 1 2), params[:fuzziness] ||= 2) -%>
  <% end -%>

  <!-- Copy to clipboard -->
  <%= render partial: 'rest_service_url' -%>

  <%= label_tag :terms -%>
  <%= text_field_tag :terms, params[:terms] -%>
  <br />

  <div style='margin:1em 0'>
    <%= submit_tag 'Search' -%>
    <%= submit_tag 'Clear', type: 'reset', id: 'reset' -%>
  </div>
<% end -%>

<!-- Search results -->
<%= render partial: 'expressions_uris/expressions_uri', collection: @expressions_uris -%>
<br />

