<div class="dictionaries_page">
  <div class="dic_ann_uri_generator">
    <fieldset>
      <legend>REST service for Term-to-Id mapping</legend>

      <div class="option_selection_area">

        <%= form_tag({:action => "term_to_id"}, {:method => :get}) do %>
          <h2>1. Select dictionaries</h2>
      
          <div class="field">
            <%= link_to(
              "Select", 
              options = {action: "select_dictionaries", dictionaries: params[:dictionaries], from: :term_to_id}, 
              html_options = {data: { :colorbox => true }, class: "customized_button"} ) 
            %>
            <%= link_to(
              "Reset", 
              options = {action: "term_to_id", dictionaries: ""}, 
              html_options = {class: "customized_button"} ) 
            %>
            <br />
            <%= text_area_tag :dictionaries, params[:dictionaries], rows: 4, cols: 80, disabled: true %>
            <%= hidden_field_tag :dictionaries, params[:dictionaries] %>
          </div>

          <h2>2. Specify options</h2>
          <ul class="options">
            <li>
              <div class="field">
                <%= label_tag :threshold, "Threshold:" %>
                get the entries whose similarity to an input term is higher than 
                <%= text_field_tag :threshold, 0.6, size: 4 %>
                (0.0 &lt; threshold &lt;= 1.0).
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :top_n, "Output limit:" %>
                get 
                <%= text_field_tag :top_n, 0, size: 4 %>
                entries per a term at most (when 0, all results will be returned).
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :output_format, "Output format:" %>
                <%= select_tag :output_format, options_for_select([["Simple", "simple"], ["Rich", "rich"]], "simple") %>
                <ul>
                <li><em>Simple</em> format shows only the IDs.</li>
                <li><em>Rich</em> format shows IDs together with the matching score and the source dictionary.</li>
                </ul>
              </div>
            </li>
          </ul>

          <h2>3. Generate URL</h2>
          <%= submit_tag "Generate", {:class => "customized_button", :method => :get} %>
          <br />
          <%= text_area_tag :annotator_uri, @annotator_uri, rows: 4, cols: 80, disabled: true %>

          <h2>!. You can POST a list of terms to the URL, to get their IDs</h2>
          for example
          <pre>curl -d '["term1", "term2", ...]' "URL"</pre>

        <% end %>
        <br />
      </div>
      <br />

    </fieldset>
    <br />

    <%= link_to 'Back', :back %>
  </div>
</div>

