<% if not removed?(entry) %>
  <tr class="dictionary_entry">
<% else %>
  <tr class="removed_dictionary_entry">
<% end %>
    <td class="entry_title"><%= entry.view_title %></td>
    <td class="entry_label">
      <% if entry.label %>
        <%= entry.label %>
      <% else %>
        <i>null</i>
      <% end %>
    </td>
    <td class="entry_uri"><%= entry.uri %></td>
    <td>
      <% if not removed?(entry) %>
        <%= button_to 'Delete', dictionary_entry_path(@dictionary, entry), method: :delete %> 
      <% else %>
        <%= button_to 'Restore', dictionary_entry_path(@dictionary, entry), method: :delete %>
      <% end %>
      <%#= link_to 'Show', entry %>
      <%#= link_to 'Show', dictionary_entry_path(@dictionary, entry) %> <!-- | -->
      <%#= link_to 'Edit', edit_dictionary_entry_path(@dictionary, entry) %> <!-- | -->
      <%#= link_to 'Destroy', dictionary_entry_path(@dictionary, entry), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>