
<fieldset>
  <legend>Add Multiple Entries</legend>
  <pre>
  -- Upload a text file --

    It consists of one entry per line. Each line has three elements 
  that are <b>entry name</b>, <b>label</b>, and <b>ID</b> which are separated by a tab.
  </pre>
  <br />
  <%= form_tag(multiple_create_dictionary_entries_path, { multipart: true, method: "post" } ) do %>
    <div class="field">
    	<%= label_tag :file %>
    	<%= file_field_tag :file %>
    </div>
    <br />
    <div class="actions">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</fieldset>
<br/>

<%= link_to 'Back', dictionary_path(@dictionary) %>
