<fieldset>
  <legend>Dictionary Entry</legend>
  <table>
    <tr><th>Title</th><td><%= @entry.title %></td></tr>
    <tr><th>Label</th><td><%= @entry.label %></td></tr>
    <tr><th>ID</th><td><%= @entry.uri %></td></tr>
  </table>
</fieldset>
<br />

<%= link_to 'Edit', edit_dictionary_entry_path(@dictionary, @entry) %> | 
<%= link_to 'Back', dictionary_path(@dictionary) %>
