<!-- It updates the value of the input element, 'dictionaries' which should be defined outside of this partial -->

<table class="dictionary_selection">
	<tr>
		<th class="pane selected">Selected</th>
		<td></td>
		<th class="pane unselected">
			Unselected
			&nbsp;
			<%= text_field_tag :filter, nil, placeholder: "filter" %>
		</th>
	</tr>
	<tr>
		<td class="pane">
			<div class="pane_box" id='selected_dictionaries'>
				<%= render partial: 'dictionaries/selected_dictionary', collection: @dicnames_all -%>
			</div>
		</td>

		<td style="text-align: center"><%= content_tag :i, '', class:"fa fa-exchange" %></td>

		<td class="pane">
			<div class="pane_box" id='unselected_dictionaries'>
				<%= render partial: 'dictionaries/unselected_dictionary', collection: @dicnames_all -%>
			</div>
		</td>
	</tr>
</table>

<script>
  function dictionarySelectionInit() {
    $("#selected_dictionaries > .dictionary > i").on("click", unselectDictionaryClick);
    $("#unselected_dictionaries > .dictionary > i").on("click", selectDictionaryClick);
    $.each(<%= raw @dicnames_sel %>, function(i,v){selectDictionary(v)});
  }

  function dictionarySelectionReset() {
    $('#selected_dictionaries > .dictionary').hide();
    $('#unselected_dictionaries > .dictionary').show();
		$('#unselected_dictionaries > .dictionary').attr('selected', false);
    $.each(<%= raw @dicnames_sel %>, function(i,v){selectDictionary(v)});
		setParamDics();
  }

	$('#filter').on('keyup', function(){
		var filter = $('#filter').val().toLowerCase();
    $("#unselected_dictionaries > .dictionary:not([selected])").filter(function(){return $(this).text().toLowerCase().indexOf(filter) > -1}).show();
    $("#unselected_dictionaries > .dictionary:not([selected])").filter(function(){return $(this).text().toLowerCase().indexOf(filter) < 0}).hide();
	});

	function selectDictionaryClick() {
		var dicname = $(this).parent().attr("name");
		selectDictionary(dicname);
	}

	function unselectDictionaryClick() {
		var dicname = $(this).parent().attr("name");
		unselectDictionary(dicname);
	}

	function selectDictionary(dicname) {
		$('#unselected_dictionaries > #dictionary_' + dicname).hide();
		$('#unselected_dictionaries > #dictionary_' + dicname).attr('selected', true);
		$('#selected_dictionaries > #dictionary_' + dicname).show();
		setParamDics();
	}

	function unselectDictionary(dicname) {
		$('#selected_dictionaries > #dictionary_' + dicname).hide();
		$('#unselected_dictionaries > #dictionary_' + dicname).show();
		$('#unselected_dictionaries > #dictionary_' + dicname).attr('selected', false);
		setParamDics();
	}

	function setParamDics() {
		var dics = $('#selected_dictionaries > .dictionary:visible').map(function(i, v){return $(v).find(".name").text()}).toArray();
		$('#dictionaries').text(dics.join(','));
		$('#dictionaries').trigger('change');
	}
</script>
