<div class="dictionaries_page">

<%= form_for([@user, @dictionary]) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table style="width:100%; max-width:800px">
    <tr>
      <th><%= f.label :name, "Name" %></th>
      <td><%= f.text_field :name, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th><%= f.label :description, "Description" %></th>
      <td><%= f.text_area :description, rows: 5, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th><%= f.label :description, "Languages" %></th>
      <td>
        <% if @dictionary.administrable?(current_user) %>
          <%= render "language_selection" %>
        <% else %>
          <%= @dictionary.associated_managers.pluck(:username).map{|u| user_object(u)}.join('').html_safe %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Public?</th>
      <td><%= f.check_box :public %>Yes, I want this dictionary to appear in the public list.</td>
    </tr>

    <tr>
      <th>Lisence Name</th>
      <td><%= f.text_field :license, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th>Lisence URL</th>
      <td><%= f.text_field :license_url, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th>Administrator</th>
      <td><%= user_object(@dictionary.user.username) %></td>
    </tr>

    <tr>
      <th>Managers</th>
      <% if @dictionary.administrable?(current_user) %>
        <td><%= render "associated_managers" %></td>
      <% else %>
        <td><%= @dictionary.associated_managers.pluck(:username).map{|u| user_object(u)}.join('').html_safe %></td>
      <% end %>
    </tr>

    <tr>
      <th>Min length</th>
      <td><%= f.text_field :tokens_len_min, type: :number, min:1, max:3, step:1, style: "box-sizing: border-box; width:10em" %></td>
    </tr>

    <tr>
      <th>Max length</th>
      <td><%= f.text_field :tokens_len_max, type: :number, min:3, max:30, step:1, style: "box-sizing: border-box; width:10em" %></td>
    </tr>

    <tr>
      <th>Threshold</th>
      <td><%= f.text_field :threshold, type: :number, min:0.5, max:1, step:0.01, style: "box-sizing: border-box; width:10em" %></td>
    </tr>

    <tr>
      <th title="The words that will not appear in a term">No term words</th>
      <td>
        <% if @dictionary.no_term_words.empty? %>
          <i>compile to update or use the default</i>
        <% else %>
          <%= content_tag(:span, 'Default', title: Dictionary::NO_TERM_WORDS.sort.join(', ')) %>
          <%=
            count_no_term_words = Dictionary::NO_TERM_WORDS - @dictionary.no_term_words
            if count_no_term_words.present?
              "- #{count_no_term_words}"
            end
          %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th title="The words that will not appear in the beginning of a term">No begin words</th>
      <td>
        <% if @dictionary.no_begin_words.empty? %>
          <i>compile to update or use the default</i>
        <% else %>
          <%= content_tag(:span, 'Default', title: Dictionary::NO_BEGIN_WORDS.sort.join(', ')) %>
          <%=
            count_no_begin_words = Dictionary::NO_BEGIN_WORDS - @dictionary.no_begin_words
            if count_no_begin_words.present?
              "- #{count_no_begin_words}"
            end
          %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th title="The words that will not appear in the end of a term">No end words</th>
      <td>
        <% if @dictionary.no_end_words.empty? %>
          <i>compile to update for use the default</i>
        <% else %>
          <%= content_tag(:span, 'Default', title: Dictionary::NO_END_WORDS.sort.join(', ')) %>
          <%=
            count_no_end_words = Dictionary::NO_END_WORDS - @dictionary.no_end_words
            if count_no_end_words.present?
              "- #{count_no_end_words}"
            end
          %>
        <% end %>
      </td>
    </tr>
  </table>
  <td colspan="2"><%= f.submit @submit_text, {:class =>"button"} %></td>

<% end %>

</div>
