<div class="dictionaries_page">

<%= form_for([@user, @dictionary]) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Dictionary name:" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :public, "Status:" %>
    <%= f.select :public, [['Public','true'],['Private','false']] %>
  </div>

  <div class="field">
    <%= f.label :language, "Language:" %><br />
    <%= f.text_field :language -%>
  </div>
  
  <div class="field">
    <%= f.label :description, "Description:" %><br />
    <%= f.text_area :description, cols: 40, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit @submit_text, {:class =>"button"} %>
  </div>

<% end %>

</div>
