<div class="dictionaries_page">

<%= form_for([@user, @dictionary]) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table style="width:100%; max-width:600px">
    <tr>
      <th><%= f.label :name, "Name" %></th>
      <td><%= f.text_field :name, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th><%= f.label :description, "Description" %></th>
      <td><%= f.text_area :description, rows: 5, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th><%= f.label :description, "Languages" %></th>
      <td>
        <% if @dictionary.administrable?(current_user) %>
          <%= render "language_selection" %>
        <% else %>
          <%= @dictionary.associated_managers.pluck(:username).map{|u| user_object(u)}.join('').html_safe %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Public?</th>
      <td><%= f.check_box :public %>Yes, I want this dictionary to appear in the public list.</td>
    </tr>

    <tr>
      <th>Lisence Name</th>
      <td><%= f.text_field :license, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th>Lisence URL</th>
      <td><%= f.text_field :license_url, style: "box-sizing: border-box; width:100%" %></td>
    </tr>

    <tr>
      <th>Administrator</th>
      <td><%= user_object(@dictionary.user.username) %></td>
    </tr>

    <tr>
      <th>Managers</th>
      <% if @dictionary.administrable?(current_user) %>
        <td><%= render "associated_managers" %></td>
      <% else %>
        <td><%= @dictionary.associated_managers.pluck(:username).map{|u| user_object(u)}.join('').html_safe %></td>
      <% end %>
    </tr>
  </table>
  <td colspan="2"><%= f.submit @submit_text, {:class =>"button"} %></td>

<% end %>



</div>
