<div class="infobox">
<table>
<tr>
<th>administrator</th>
<td><%= user_object(@dictionary.user.username) %></td>
</tr>

<% collaborators = @dictionary.associated_managers.pluck(:username) %>
<% unless collaborators.empty? %>
	<tr>
	<th>managers</th>
	<td><%= @dictionary.associated_managers.pluck(:username).map{|u| user_object(u)}.join('').html_safe %></td>
	</tr>
<% end %>

<tr>
<th>languages</th>
<td>
	<% if @dictionary.languages.empty? %>
		not specified
	<% else %>
		<%= @dictionary.languages.pluck(:abbreviation).map{|l| language_object(l)}.join('').html_safe %>
	<% end %>
</td>
</tr>

<tr>
<th>license</th>
<td><%= @dictionary.license ? (@dictionary.license_url ? link_to(@dictionary.license, @dictionary.license_url) : @dictionary.license) : 'unknown' %></td>
</tr>
<tr>
<th>created at</th>
<td><%= @dictionary.created_at %></td>
</tr>
<tr>
<th>updated at</th>
<td><%= @dictionary.updated_at %></td>
</tr>
</table>
</div>