<fieldset>
  <legend>Dictionary name: <%= @dic.name %></legend>
  
  <!-- Show the meta-information of a current dictionary -->
  <table>
    <tr>
      <th>Creator:</th>
      <td><%= @dic.creator %></td>
    <tr>
      <th>Description:</th>
      <td><%= h(@dic.description).gsub(/\n/, '<br/>').html_safe %></td>
    </tr>
  </table>
</fieldset>
<br />
<br />

<table>
  <tr>
    <th>The following errors have been detected while uploading the dictionary!</th>
  </tr>
  <tr>
    <td>
      <% @dic.issues.split("\n").each_with_index do |line, index| %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= "#{index+1}. #{line}" %> <br />
      <% end %>
      <br />
    </td>
  </tr>
  <tr>
    <td>Confirm if you want to upload the file. Erroraneous lines will be discarded.<br />
      Or Discard if you want to fix the errors and re-upload the dictionary.</td>
  </tr>
</table>
<br />

<div style="float:left;">
<%= form_for @dic, {method: :get} do |f| %>
  <%= hidden_field_tag :upload_confirmation, "confirm" %>
  <%= f.submit "Confirm the Upload", { class: "customized_button"} %>
<% end %>
</div>
<div style="float:left;">
<%= form_for @dic, {method: :get, style: "float:left"} do |f| %>
  <%= hidden_field_tag :upload_confirmation, "discard" %>
  <%= f.submit "Discard the Upload", { class: "customized_button"} %>
<% end %>
</div>
<br />
<br />

