<% job = @dictionary.jobs.first %>
<fieldset>
  <legend>
		Last task
		<%= link_to('<i class="fa fa-check-square-o fa-lg"></i>'.html_safe, dictionary_job_path(@dictionary.name, job), method: :delete, title: 'Dismiss', class:'responsive') unless job.running? %>
  </legend>

	<% unless job.ended_at.nil? %>
		<span class="message blink">Dismiss <i class="fa fa-arrow-up" aria-hidden="true"></i> this task for other settings.</span>
	<% end %>

	<p>
		"<%= job.name %>"
		&nbsp;
		<%= link_to('Cancel', job, :method => :delete, data: { confirm: 'Are you sure?' }, :class => "button") if job.waiting? %>
		<%= job_stop_helper(job) %>
	</p>
  <ul>
	  <% if job.waiting? %>
			<li>waiting for a worker to take care of it</li>
	  <% else %>
		  <li>started at <%= job.begun_at %></li>
		  <% unless job.num_items.nil? || job.num_items == job.num_dones %>
				<li>progress: <%= number_with_delimiter(job.num_dones, :delimiter => ',') %> / <%= number_with_delimiter(job.num_items, :delimiter => ',') %></li>
			<% end %>
		  <% unless job.ended_at.nil? %>
			  <% if job.message.nil? %>
			    <li>finished at <%= job.ended_at %></li>
			    <li>took <%= time_duration(job.begun_at, job.ended_at) %></li>
			    <li>without problem.</li>
			  <% else %>
			    <li>failed at <%= job.ended_at %></li>
			    <li>with message, "<%= job.message %>".</li>
			  <% end %>
		  <% end %>
	  <% end %>
  </ul>
</fieldset>
