<% job = @dictionary.jobs.first %>
<fieldset>
	<legend>
		Last task
		<%= link_to('<i class="fa fa-check-square fa-lg"></i>'.html_safe, dictionary_job_path(@dictionary.name, job), method: :delete, title: 'Dismiss', class:'responsive') unless job.running? %>
	</legend>

	<% unless job.ended_at.nil? %>
		<span class="message blink">Dismiss it <i class="fa fa-arrow-up" aria-hidden="true"></i> for running another task.</span>
	<% end %>

	<p>
		"<%= job.name %>"
		&nbsp;
		<%= link_to('Cancel', job, :method => :delete, data: { confirm: 'Are you sure?' }, :class => "button") if job.waiting? %>
		<%= job_stop_helper(job) %>
	</p>
	<ul>
		<% if job.waiting? %>
			<li>waiting for a worker to take care of it</li>
		<% else %>
			<li>started at <%= job.begun_at %></li>
			<% unless job.num_items.nil? || job.num_items == job.num_dones %>
				<li>progress: <%= number_with_delimiter(job.num_dones, :delimiter => ',') %> / <%= number_with_delimiter(job.num_items, :delimiter => ',') %></li>
			<% end %>
			<% unless job.ended_at.nil? %>
				<% if job.message.nil? %>
					<li>finished at <%= job.ended_at %></li>
					<li>took <%= time_duration(job.begun_at, job.ended_at) %></li>
					<% if job.metadata&.[]('skipped_entries')&.any? %>
						<li style="color: #d9534f;">
							<strong><%= job.metadata['skipped_entries'].size %> <%= 'entry'.pluralize(job.metadata['skipped_entries'].size) %> skipped:</strong>
							<ul style="margin-top: 5px; font-size: 0.9em;">
								<% job.metadata['skipped_entries'].each do |entry| %>
									<% if entry['reason'] == 'token_limit' %>
										<li><strong>[Token limit]</strong> <%= entry['label'].truncate(60) %> (<%= entry['identifier'] %>)</li>
									<% else %>
										<li><strong>[Validation]</strong> Line <%= entry['line_number'] %>: <%= entry['line'].truncate(80) %></li>
									<% end %>
								<% end %>
							</ul>
						</li>
					<% else %>
						<li>without problem.</li>
					<% end %>
				<% else %>
					<li>failed at <%= job.ended_at %></li>
					<li>with the message, "<%= job.message %>".</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</fieldset>
