<div>
<h4 style="display:inline-block">Export: </h4>
<%= link_to 'Base', dictionary_path(format: "tsv", query: "ori_del") %> | 
<%= link_to 'Disabled', dictionary_path(format: "tsv", query: "del") %> | 
<%= link_to 'New', dictionary_path(format: "tsv", query: "new") %> |
<%= link_to 'Base+Disabled', dictionary_path(format: "tsv", query: "ori") %> | 
<%= link_to 'Base+New', dictionary_path(format: "tsv", query: "ori_del_new") %>
</div>