<fieldset class="dialog">
  <legend>Upload</legend>
  <p>You can upload a dictionary in a TSV (tab-separated values) file:</p>
  <ul>
    <li>Each line represents a dictionary entry.</li>
    <li>A dictionary entry must consist of two or three values: a <i>label</i>, an <i>identifier</i>, and optionally a <i>tag</i> or tags.</li>
    <li>A tag must be a string of alphanumeric characters without any symbol.</li>
    <li>A multiple tags must be represented as comma (',')-separated values.</li>
    <li>An empty line or a line beginning with a pound sign ('#') will be skipped.</li>
    <li>A line with only one value will be skipped.</li>
    <li>If a line has more than three values, only the first three will be read, and the remaining ones will be ignored.</li>
    <li>If a line has a label shorter than 2 or longer than 127, the line will be skipped.</li>
    <li>If a line has an identifier shorter than 2 or longer than 255, the line will be skipped.</li>
  </ul>

  <%= form_tag tsv_dictionary_entries_path(@dictionary), multipart: true do -%>
    <% if @dictionary.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>
        <ul>
          <% @dictionary.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= file_field_tag :file, required: true %><br/>
    <%= submit_tag 'Upload', class: "button" %>
  <% end %>
</fieldset>

