
<div class="dictionaries_page">
  <!-- 1. Index view -->
  <div class="wice-grid">
    <%= 
      dump_filter_parameters_as_hidden_fields(@grid_dictionaries)

      grid(@grid_dictionaries, html: {class: "my-grid"}, header_tr_html: {class: "my-header"}, hide_submit_button: true, hide_reset_button: true ) do |g|
        g.blank_slate do
          "There are no records" 
        end
        g.column name: "Dictionary Name", attribute: "title" do |dic| 
          link_to dic.title, dic
        end
        g.column name: "Creator", attribute: "creator" do |dic| 
          dic.creator
        end
        #g.column name: "Visibility", attribute: "public" do |dic| 
          #dic.public == true ? "Public" : "Private" 
        #end
        g.column name: "Created At", attribute: "created_at", filter: false do |dic| 
          dic.created_at
        end
        # g.column name: "Description", attribute: "description" do |dic| 
        #   dic.description
        # end

        if params[:dictionary_type] == 'my_dic'
          g.column name: "Functions", filter: false do |dic|
            link_array = ""
            if current_user && current_user.email == dic.creator
              link_array = 
                link_to(image_tag('patch.jpg', size: "16x16", alt: "Show related user dictionaries"),
                {controller: "user_dictionaries", action: "index_for_owner", base_dic: dic},
                )
              link_array += 
                link_to(image_tag('edit.png', size: "16x16", alt: "Edit this dictionary"),
                edit_dictionary_path(dic.title)
                )
            end
            link_array += 
              link_to(image_tag('mac-trashcan.jpg', size: "16x16", alt: "Delete this dictionary"), 
              dic, 
              method: :delete, 
              data: {confirm: 'Are you sure to completely delete this dictionary?'})

            link_array.html_safe
            # show_link = link_to('Show', dic)
            # dele_link = link_to('Delete', dic, method: :delete, data: { confirm: 'Are you sure?' })
            # "#{show_link} | #{dele_link}".html_safe     # html_safe is necessary to ensure rendering
            # "#{dele_link}".html_safe     # html_safe is necessary to ensure rendering
          end
          g.column name: "status" do |dic| 
            dictionary_status(dic)
          end
        end
      end
    %>
  </div>
  <br />

  <!-- 2. Buttons -->
  <div style="float:left;">
    <%= button_to 'Create a New Dictionary', new_dictionary_path, {:method => :get, :class => "customized_button"} %>
  </div>
<!--   <div style="float:left;">
    <%= button_to "Get Annotator URL", {controller: "dictionaries", action: "text_annotation_with_multiple_dic_readme"}, {:method => :get, :class => "customized_button"} %>
  </div>
  <div style="float:left;">
    <%= button_to "Get ID Mapper URL", {controller: "dictionaries", action: "id_mapping_with_multiple_dic_readme"}, {:method => :get, :class => "customized_button"} %>
  </div>
  <div style="float:left;">
    <%= button_to "Get Label Mapper URL", {controller: "dictionaries", action: "label_mapping_with_multiple_dic_readme"}, {:method => :get, :class => "customized_button"} %>
  </div>
 -->
 </div>

