<div class="dictionaries_page">

  <% if @base_dic.confirmed_error_messages == true %>
    <!-- Show information about a dictionary -->
    <div class="infobox">
      <fieldset>
        <legend>Dictionary name: <%= @base_dic.title %></legend>

        <%= render 'show_meta_information' %>
        <%#= render 'show_export_options' %>
        <%= render 'show_rest_services' %>
      </fieldset>
    </div>
    <br />

    <%= link_to 'Show all', dictionary_path(@base_dic) -%>

    <%= render partial: 'dictionaries/search_form', locals: {model: 'uri'} -%>

    <table id='expressions' style="margin-top: 1em;">
      <tr style="vertical-align: top">
        <th class="expression">
          Expression<br />
        </th>
        <th class="uri">
         Id 
        </th>
      </tr>
    </table>

    <% if @expressions_uris.present? -%>
      <%= render partial: 'expressions_uris/expressions_uri', collection: @expressions_uris -%>
    <% else -%>
      <% if @expressions.present? -%>
        <%= render partial: 'expressions/expression', collection: @expressions -%>
      <% end -%>
    <% end -%>
  <% else %>
    <div class="infobox">
      <%= render 'show_error_messages' %>
    </div>
    <br />
  <% end %>


  <%= link_to 'Back', dictionaries_path, style: 'display:block' -%>

</div>
