<%= render 'title' %>

<% if @dictionary.editable?(current_user) %>
	<div class="control">
		<%= link_to(
			'<i class="fa fa-cog fa-lg"></i>'.html_safe,
			edit_dictionary_path(@dictionary.title),
			title: 'settings'
		) %>
	</div>
<% end %>

<%= render 'infobox' %>

<% if @dictionary.entries_count > 0 %>
	<%= link_to('Show all', dictionary_path(@dictionary), class: 'button') if params[:label_search] || params[:id_search] -%>
	<% if @entries.present? %>
		<%= render partial: 'entries/table' -%>
	<% else %>
		<p>No result.</p>
	<% end %>
<% else %>
	<p>The dictionary is currently empty.</p>
<% end %>
