<%= render 'title' %>

<% if @dictionary.editable?(current_user) %>
	<div class="control">
		<%= link_to(
			'<i class="fa fa-cog fa-lg"></i>'.html_safe,
			edit_dictionary_path(@dictionary.title),
			title: 'settings'
		) %>
	</div>
<% end %>

<%= render 'infobox' %>

<% if @entries.present? %>
	<%= link_to 'Show all', dictionary_path(@dictionary) if params[:label_search] || params[:id_search] -%>
	<%= render partial: 'entries/table' -%>
<% else %>
	<p>The dictionary is currently empty.</p>
<% end %>
