<div class="dictionaries_page">

  <div class="infobox">
    <fieldset>
      <legend>Dictionary name: <%= @dic.title %></legend>
      <%= render 'profile' %>
    </fieldset>
  </div>

  <%= link_to 'Back', dictionaries_path, style: 'display:block' -%>

  <% if @dic.ready %>
    <% if @entries.present? %>
      <%= link_to 'Show all', dictionary_path(@dic) if params[:label_search] || params[:id_search] -%>
      <%= render partial: 'entries/table' -%>
    <% else %>
      <p>The dictionary is currently empty.</p>
    <% end %>
  <% else %>
    <p>The dictionary is under preparation.</p>
  <% end %>

  <% if user_signed_in? && @dic.editable?(current_user) -%>
    <%= render partial: 'entries/upload' -%>
  <% end %>
</div>
