<% content_for :page_title do %>
  <%= render partial: 'title' %>
<% end %>
<br/>


<div style="text-align:right">
<%= num_entries_helper %>
</div>

<% if @dictionary.jobs.count == 0 %>
  <% if @dictionary.entries.any? %>
    <%= render partial: 'upload_disabled' %>
  <% else %>
    <%= render partial: 'upload' -%>
  <% end %>

  <%= render partial: 'compile' -%>
<% else %>
  <%= render partial: 'last_task' -%>
<% end %>
