<div class="select_dictionaries_page">

<fieldset>
  <legend>List of dictionaries</legend>

  <table class="dictionaries">
    <tr>
      <th class="dictionary_name">Dictionary name</th>
      <th class="creator">Creator</th>
      <th class="creator">Status</th>
      <th class="description">Description</th>
      <th class="options">Options</th>
    </tr>
    <% @dictionaries.each do |dictionary| %>
      <div class="dictionary">
        <tr>
          <td><%= dictionary.title %></td>
          <td><%= dictionary.creator %></td>
          <td><%= if dictionary.public
                    "Public"
                  else
                    "Private"
                  end 
              %></td>
          <td><%= dictionary.description %></td>
          <td>
            <%= link_to 'Show', dictionary %> |
            <%#= link_to 'Edit', edit_dictionary_path(dictionary) %> <!-- | -->
            <%= link_to 'Delete', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </div>
    <% end %>
  </table>
</fieldset>
<br />

<%#= link_to 'Create a New Dictionary', new_dictionary_path %>
<div style="float:left;">
  <%= button_to 'Create a New Dictionary', new_dictionary_path, {:method => :get, :class => "customized_button"} %>
</div>
<div style="float:left;">
  <%= button_to "Get Annotator URI", {controller: "dictionaries", action: "text_annotation_with_multiple_dic_readme"}, {:method => :get, :class => "customized_button"} %>
</div>

