<fieldset>
  <legend>Dictionary name: <%= @base_dic.title %></legend>
  
  <!-- Show the meta-information of a current dictionary -->
  <table>
    <tr>
      <th>Creator:</th>
      <td><%= @base_dic.creator %></td>
    <tr>
      <th>Description:</th>
      <td><%= h(@base_dic.description).gsub(/\n/, '<br/>').html_safe %></td>
    </tr>
  </table>
</fieldset>
<br />

<table>
  <tr>
    <th>Error messages:</th>
  </tr>
  <tr>
    <td>
      <% @base_dic.error_messages.split("\n").each do |line| %>
        <%= line %>
        <br />
      <% end %>
    </td>
  </tr>
</table>
<br />

<div style="float:left;">
<%= form_for @base_dic, {method: :get} do |f| %>
  <%= hidden_field_tag :upload_confirmation, "confirm" %>
  <%= f.submit "Confirm the Upload", { class: "customized_button"} %>
<% end %>
</div>
<div style="float:left;">
<%= form_for @base_dic, {method: :get, style: "float:left"} do |f| %>
  <%= hidden_field_tag :upload_confirmation, "discard" %>
  <%= f.submit "Discard the Upload", { class: "customized_button"} %>
<% end %>
</div>
<br />
<br />

