<div class="entry_list">
  <fieldset>
    <legend>Original entries:</legend>
    
    <!-- Information bar -->
    <table class="search_and_sort">
      <tr>
        <td class="search_field">
          <%= form_tag dictionary_path, method: :get do %>
            <%= label_tag :entry_search, "Query: " %>
            <%= text_field_tag :entry_search, params[:entry_search] %>
            <!-- Kinds of session information -->
            <%= hidden_field_tag :entry_sort, params[:entry_sort] %>
            <%= hidden_field_tag :new_entry_search, params[:new_entry_search] %>
            <%= hidden_field_tag :new_entry_sort, params[:new_entry_sort] %>
            <%= submit_tag "Search" %>
          <% end %>
        </td>
        <td class="sort_by">
          <%= form_tag dictionary_path, method: :get do %>
            <%= select_tag :entry_sort, options_for_select(Dictionary::SORT_BY, is_nil_or_empty?(params[:entry_sort]) ? "view_title asc" : params[:entry_sort]) %>
            <!-- Kinds of session information -->
            <%= hidden_field_tag :entry_search, params[:entry_search] %>
            <%= hidden_field_tag :new_entry_search, params[:new_entry_search] %>
            <%= hidden_field_tag :new_entry_sort, params[:new_entry_sort] %>
            <%= submit_tag "Search" %>
          <% end %>
        </td>
      </tr>
    </table>
    <br />

    <!-- A list of paginated entries -->
    <table>
      <tr>
        <th class="entry_name">Entry name</th>
        <th class="label">Label</th>
        <th class="id">ID</th>
        <th>Options</th>
      </tr>
      <%= render @pg_entries %> <!-- Uses the partial (view/entries/_entry.html.erb) -->
      <tr>
        <td colspan="4" class="paginated_entries_info">
          <%= page_entries_info @pg_entries %>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="flickr_pagination">
            <%= will_paginate @pg_entries, param_name: 'entries_page' %>
          </div>
        </td>
      </tr>    
    </table>
  </fieldset>
</div>