<div class="dictionaries_page">
  <div class="dic_ann_uri_generator">
    <fieldset>
      <legend>Dictionary ID Mapper URL Generator</legend>

      <div class="option_selection_area">

        <%= form_tag({:action => "id_mapping_with_multiple_dic_readme"}, {:method => :get}) do %>
          <div class="options">
            Options:
          </div>
      
          <ol class="options">
            <li>
              <div class="field">
                <%= label_tag :dictionaries, "Dictionaries:" %>
                <%= link_to(
                  "Select", 
                  options = {action: "select_dictionaries_for_id_mapping", dictionaries: params[:dictionaries]}, 
                  html_options = {data: { :colorbox => true }} ) 
                %>
                <br />
                <%= text_area_tag :dictionaries, params[:dictionaries], rows: 4, cols: 80, disabled: true %>
                <%= hidden_field_tag :dictionaries, params[:dictionaries] %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :threshold, "Threshold:" %>
                <%= text_field_tag :threshold, 0.6, size: 8 %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :top_n, "Output limit:" %>
                <%= text_field_tag :top_n, 0, size: 4 %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :output_format, "Output format:" %>
                <%= select_tag :output_format, options_for_select([["Simple", "simple"], ["Rich", "rich"]], "simple") %>
              </div>
            </li>
          </ol>

          <div class="actions">
            <%= submit_tag "Generate URL", {:class => "customized_button", :method => :get} %>
          </div>

          <div class="uri">
            <div class="name">URL: <button class='my_clip_button' data-clipboard-target='annotator_uri' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'><b>Copy To Clipboard</b></button></div>
            <div class="desc">
              <%= label_tag :annotator_uri, "" %>
              <%= text_area_tag :annotator_uri, @annotator_uri, rows: 4, cols: 80, disabled: true %>
            </div>
          </div>
          <br />

        <% end %>
        <br />
      </div>
      <br />

      <div class="description">
        <div class="title">Explanation of options</div>
        <div class="option">
          <div class="name">Threshold:</div>
          <div class="desc">Use this value as the threshold (0.0 &lt; threshold &lt;= 1.0) for finding IDs of similar terms.</div>
        </div>
        <br />
        <div class="option">
          <div class="name">Output limit:</div>
          <div class="desc">Limit the number of IDs for each term based on the similarity of the query term and a candidate term. If it is 0, all results will be returned.</div>
        </div>
        <br />
        <div class="option">
          <div class="name">Output Format:</div>
          <div class="desc"><b>Simple format</b> returns a hash that uses a term as a key and an array of IDs associated with the key as its value. <b>Rich format</b> also returns a hash using a term as a key. However, the value associated with a key is an arrary of hashes (not an array of IDs). Each hash has ID (keyed with "uri") and the dictionary name from which the ID comes from (keyed with "dictionary_name").</div>
        </div>
      </div>
      <br />

    </fieldset>
    <br />

    <%= link_to 'Back', :back %>
  </div>
</div>

