<div class="select_dictionaries_page">
  <div class="wice-grid">
    <%= 
    # Use form_tag(), not form_tag, if you want to use :method=>:get.
    form_tag({:action => :label_mapping_with_multiple_dic_readme}, {:method => :get}) do %>
      <%=
      if @grid_dictionaries
        dump_filter_parameters_as_hidden_fields(@grid_dictionaries)
      end %>

      <%= 
      grid(@grid_dictionaries, show_filters: :no, html: {class: "my-grid"}, header_tr_html: {class: "my-header"}) do |g|
        g.blank_slate do
          "There are no records" 
        end
        g.action_column
        g.column name: "Dictionary name", attribute: "title" do |dic| 
          dic.title 
        end
        g.column name: "Creator", attribute: "creator" do |dic| 
          dic.creator
        end
        g.column name: "Status", attribute: "public" do |dic| 
          dic.public == true ? "Public" : "Private" 
        end
        # g.column name: "Description", attribute: "description" do |dic| 
        #   dic.description
        # end        
      end %>

      <%=
      # For the dictionaries previously selected.
      if params.has_key? :dictionaries and params[:dictionaries] != ""
        hidden_field_tag :dictionaries, params[:dictionaries]
      else
        hidden_field_tag :dictionaries, [].to_json
      end 
      %>
  
      <%=
      submit_tag("Add selected dictionaries", options = {:class => "customized_button"}) %>
    <% end %>
  </div>
  <br />
</div>
