<div class="dictionaries_page">
  <div class="dic_ann_uri_generator">
    <fieldset>
      <legend>Dictionary Annotator URL Generator</legend>

      <div class="option_selection_area">
        <%= form_tag({:action => "text_annotation_with_single_dic_readme"}, {:method => :get}) do %>
          <div class="dictionary_name">
            <div class="field">
              <%= label_tag :dictionary_name, "Dictionary:" %>
              <%= text_field_tag :dictionary_name, params[:id], size: 64, disabled: true %>
            </div>
          </div>
          
          <div class="options">
            Options:
          </div>
          
          <ol class="options">
            <li>
              <div class="field">
                <%= label_tag :annotation_strategy, "Annotation strategy:" %>
                <%= select_tag :annotation_strategy, options_for_select([["Approximate Matching", "approximate"], ["Exact Matching", "exact"]], "Approximate") %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :min_tokens, "The minimum number of tokens:" %>
                <%= text_field_tag :min_tokens, 1, size: 4 %>
              </div>
              <div class="field">
                <%= label_tag :max_tokens, "The maximum number of tokens:" %>
                <%= text_field_tag :max_tokens, 6, size: 4 %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :threshold, "Threshold:" %>
                <%= text_field_tag :threshold, 0.6, size: 8 %>
              </div>
            </li>
            <li>
              <div class="field">
                <%= label_tag :top_n, "Output limit:" %>
                <%= text_field_tag :top_n, 0, size: 4 %>
              </div>
            </li>
          </ol>
           
          <div class="actions">
            <%= submit_tag "Generate URL", {:class => "customized_button", :method => :get} %>
          </div>

          <div class="uri">
            <div class="name">URI: <button class='my_clip_button' data-clipboard-target='annotator_uri' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'><b>Copy To Clipboard</b></button></div>
            <div class="desc">
              <%= label_tag :annotator_uri, "" %>
              <%= text_area_tag :annotator_uri, @annotator_uri, rows: 4, cols: 80, disabled: true %>
            </div>
          </div>
          <br />

        <% end %>
        <br />
      </div>
      <br />

      <div class="description">
        <div class="title">Explanation of options</div>
        <div class="option">
          <div class="name">Annotation strategy:</div>
          <div class="desc">Use the exact string matching or the approximate string matching to annotate text.</div>
        </div>
        <br />

        <div class="option">
          <div class="name">The minimum (maximum) number of tokens :</div>
          <div class="desc">Specify the minimum (maximum) number of tokens to generate strings consisting of k (min &lt;= k &lt;= max) tokens from input text.
          These strings will be annotated if they exist in a specified dictionary.</div>
        </div>
        <br />

        <div class="option">
          <div class="name">Threshold:</div>
          <div class="desc">Use this value as the threshold (0.0 &lt; threshold &lt;= 1.0) for approximate matching.</div>
        </div>
        <br />

        <div class="option">
          <div class="name">Output limit:</div>
          <div class="desc">Limit the number of annoations (n) for each text span (string).
          	In exact matching, first n annotations will be returned, whereas, in approximate matching, n annotations of the highest similarity scores will be returned.
            If it is 0, all results will be returned.</div>
        </div>
      </div>
      <br />

    </fieldset>
    <br />

    <%= link_to 'Back', :back %>
  </div>
</div>

