<h1>Listing removed_entries</h1>

<table>
  <tr>
    <th>User dictionary</th>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @removed_entries.each do |removed_entry| %>
  <tr>
    <td><%= removed_entry.user_dictionary_id %></td>
    <td><%= removed_entry.entry_id %></td>
    <td><%= link_to 'Show', removed_entry %></td>
    <td><%= link_to 'Edit', edit_removed_entry_path(removed_entry) %></td>
    <td><%= link_to 'Destroy', removed_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Removed entry', new_removed_entry_path %>
