<p id="notice"><%= notice %></p>

<p>
  <b>User dictionary:</b>
  <%= @removed_entry.user_dictionary_id %>
</p>

<p>
  <b>Entry:</b>
  <%= @removed_entry.entry_id %>
</p>


<%= link_to 'Edit', edit_removed_entry_path(@removed_entry) %> |
<%= link_to 'Back', removed_entries_path %>
