<!DOCTYPE html>
<html>

<head>
  <title>PubDictionaries</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="pubdictionaries">
  <div id="banner">
  	<%#= image_tag("logo.png") %>
  	<%= @page_title || "PubDictionaries" %>
  </div>

  <div id="authentication_information">
    <% if user_signed_in? %>
      You are logged in as <i><%= current_user.email %></i> | 
      <%= link_to "Edit profile", edit_user_registration_path %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      Please login first | 
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>    
  </div>

  <div id="columns">
  	<div id="side">
      <div id="links">
        <%= link_to "Welcome", root_path %>
        <%= link_to "Dictionaries", dictionaries_path %>
        <%= link_to "Annotation", web_services_index_path %>
        <a href="mailto:priancho@gmail.com">Contact</a>
        <br />
      </div>
  	</div>
    
    <div id="main">
      <% if notice %><p><%= flash[:notice] %></p><% end %>
      <% if alert %><p><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</body>

</html>
