<div class="dictionaries_page">

<!-- Show information about a dictionary -->
<div class="dictionary_information">
<fieldset>
  <legend>Dictionary name: <%= @dictionary.title %></legend>
  
  <table>
    <tr><th>Creator:</th><td><%= @dictionary.creator %></td>
    <tr><th>Description:</th><td><%= h(@dictionary.description).gsub(/\n/, '<br/>').html_safe %></td></tr>
    <tr><th>Entries:</th>
      <td>
        Original (<%= @n_entries %>) |
        Removed (<%= @n_removed_entries %>) |
        New (<%= @n_new_entries %>)
      </td>
    </tr>
    <tr>
      <th>Export:</th>
      <td>
        <%= link_to 'Original', dictionary_path(format: "tsv", query: "ori") %> | 
        <%= link_to 'Deleted', dictionary_path(format: "tsv", query: "del") %> | 
        <%= link_to 'Added', dictionary_path(format: "tsv", query: "new") %> |
        <%= link_to 'Original-Deleted', dictionary_path(format: "tsv", query: "ori_del") %> | 
        <%= link_to 'Original-Deleted+Added', dictionary_path(format: "tsv", query: "ori_del_new") %>
        
      </td>
    </tr>
  </table>
</fieldset>
</div>

<br />

<!-- Show a list of entries -->
<% if @dictionary.entries.count > 0 %>
<div class="entry_list">
  <fieldset>
    <legend>Original entries:</legend>
    <table>
      <tr><th><%= sortable "base_dic", "view_title", "Entry name" %></th><th><%= sortable "base_dic", "label", "Label" %></th><th><%= sortable "base_dic", "uri", "ID" %></th><th>Options</th></tr>
      <%= render @paginated_entries %>
      <tr><td colspan="4" align="center"><%= will_paginate @paginated_entries, param_name: 'entries_page' %></td></tr>
    </table>
  </fieldset>
</div>
<% end %>

<br />

<!-- Show a list of new_entries of the user dictionary corresponding to the current dictionary -->
<% if not @user_dictionary.nil? and @n_new_entries > 0 %>
<div class="entry_list">
  <fieldset>
    <legend>Newly added entries:</legend>
    <table>
      <tr><th><%= sortable "user_dic", "view_title", "Entry name" %></th><th><%= sortable "user_dic", "label", "Label" %></th><th><%= sortable "user_dic", "uri", "ID" %></th><th>Options</th></tr>
      <%= render @paginated_new_entries %>
      <tr><td colspan="4" align="center"><%= will_paginate @paginated_new_entries, param_name: 'new_entries_page' %></td></tr>
    </table>
  </fieldset>
</div>
<% end %>

<%= link_to 'Add an Entry', new_dictionary_entry_path(@dictionary) %> | 
<%= link_to 'Back', dictionaries_path %>

</div>
