<!DOCTYPE html>
<html>

<head>
  <title>PubDictionaries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!-- 
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
 -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
<!-- 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
 -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
  <script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
</head>

<body>
  <div class="header">
    <div id="logo">
      <%= link_to image_tag("logo.png", { height: "100%", border: "0", alt: "Logo" }), root_path %>
    </div>
    <div id='cssmenu'>
      <ul>
        <li><%= link_to 'Dictionaries', dictionaries_path %></li>
        <li><%= link_to 'Labels', labels_path %></li>
        <li><%= link_to 'IDs', identifiers_path %></li>
        <li class='has-sub'>Tools <i class="fa fa-caret-down"></i>
          <ul>
            <li><%= link_to 'Find IDs', find_ids_path %></li>
            <li class='last'><%= link_to 'Text annotation', text_annotation_path %></li>
          </ul>
        </li>
        <li class='last'><%= link_to 'Help', search_mapping_index_path %></li>
      </ul>
    </div>
    <div class="account">
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %> | 
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
    <% if notice %><p class='notice'><%= flash[:notice] %></p><% end %>
    <% if alert %><p class='alert'><%= alert %></p><% end %>
  </div>

  <div class="main">
    <%= yield %>
  </div>

<!-- 
  <div class="columns">
    <div class="menu_wrap">
      <div id='cssmenu'>
        <ul>
          <li class='active'><%= link_to "<span>About</span>".html_safe, about_index_path %></li>
          <li class='has-sub'><a href='#'><span>Dictionaries</span></a>
            <ul>
              <li><%= link_to '<span>List</span>'.html_safe, dictionaries_path %></li>
              <li><%= link_to '<span>Search</span>'.html_safe, search_mapping_index_path %></li>
            </ul>
          </li>
          <li class='has-sub'><a href='#'><span>API</span></a>
            <ul>
              <li><%= link_to '<span>To get Ids</span>'.html_safe, expression_to_id_mapping_index_path %></li>
              <li><%= link_to '<span>To get labels</span>'.html_safe, id_to_expression_mapping_index_path %></li>
              <li><%= link_to '<span>To annotate text</span>'.html_safe, text_annotation_mapping_index_path %></li>
            </ul>
          <li class='has-sub'><a href='#'><span>Guides</span></a>
            <ul>
              <li class='odd'><%= link_to '<span>Sharing Dictionaries</span>'.html_safe, manual_basic_path %></li>
              <li class='even'><%= link_to '<span>Curating Dictionaries</span>'.html_safe, manual_advanced_path %></li>
              <li class='odd'><%= link_to '<span>Annotating with PubAnnotation</span>'.html_safe, manual_pubann_path %></li>
              <li class='even'><%= link_to '<span>Annotating with REST-APIs</span>'.html_safe, web_services_index_path %></li>
            </ul>
          </li>
          <li class='last'><a href='mailto:pubdictionaries@gmail.com'><span>Contact</span></a></li>
        </ul>
      </div>
    </div>

  </div>
 -->
  <%= yield :bottom_js -%>
</body>
</html>
