<!DOCTYPE html>
<html>

<head>
  <title>PubDictionaries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css -%>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript -%>
  <%= csrf_meta_tags %>
</head>

<body>
<!--
  <script
    type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block"
    id="common-header-and-footer__script"
    data-width="1000"
    data-header-menu-type="deployed"
    data-color="mono"
  ></script>
 -->
  <div class="header">
    <div class="inner">
      <div class="logo">
        <%= link_to image_tag("logo.png", { alt: "Logo" }), root_path %>
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to 'Dictionaries', dictionaries_path %></li>
          <li><%= link_to 'Find IDs', find_ids_path %></li>
          <li><%= link_to 'Annotation', text_annotation_path %></li>
          <li><%= link_to 'Documentation', "https://docs.pubdictionaries.org" %></li>
        </ul>
      </div>
      <div class="account menu">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to current_user.username, show_user_path(current_user.username) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="title_area">
    <div class="inner">
      <%= yield :page_title%>
    </div>
  </div>
  <div class="main">
    <div class="inner">
      <% if notice %><div class='message'><span class='notice'><%= flash[:notice] %></span></div><% end %>
      <% if alert %><div class='message'><span class='alert'><%= alert %></span></div><% end %>
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="inner">
      <div class="credit">
        This service is developed and maintained by
        <%= link_to 'DBCLS', 'https://dbcls.rois.ac.jp' %>,
        </div>
      <div class="contact">We appreciate your any comments to <%= mail_to 'admin@pubdictionaries.org' %></div>
    </div>
  </div>
  <%= yield :bottom_js -%>
</body>
</html>
