<!DOCTYPE html>
<html>

<head>
  <title>PubDictionaries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css -%>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript -%>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <div class="inner">
      <div class="logo">
        <%= link_to image_tag("logo.png", { alt: "Logo" }), root_path %>
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to 'Dictionaries', dictionaries_path %></li>
          <li><%= link_to 'Find IDs', find_ids_path %></li>
          <li><%= link_to 'Text Annotation', text_annotation_path %></li>
          <li><%= link_to 'Documentation', "http://docs.pubdictionaries.org" %></li>
        </ul>
      </div>
      <div class="account menu">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to current_user.username, show_user_path(current_user.username) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="inner">
      <% if notice %><div class='message'><span class='notice'><%= flash[:notice] %></span></div><% end %>
      <% if alert %><div class='message'><span class='alert'><%= alert %></span></div><% end %>
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="inner">
      <div class="alert">It is newly updated at 14th November 2016. You can find the old service at <%= link_to 'http://old.pubdictionaries.org', 'http://old.pubdictionaries.org' %>.</div>
      <div class="credit">Presented by <%= link_to 'DBCLS', 'http://dbcls.rois.ac.jp' %></div>
      <div class="contact">We appreciate your any comment to <%= mail_to 'admin@pubdictionaries.org' %></div>
    </div>
  </div>
  <%= yield :bottom_js -%>
</body>
</html>
