<% content_for :page_title do %>
	<span class="page_title">Find Terms <span class="supplement">by their identifiers</span></span>
<% end %>

<fieldset>
	<legend>Demo</legend>
	<%= form_tag 'find_terms', id: 'find_terms', method: :get do -%>
		<%= text_area_tag :identifiers, params[:identifiers], required: true, placeholder: "an identifier or a list of identifiers (comma(','), or newline-delimited)" %>

		<div class="center-align">
			<%= render 'lookup/options_output' %>
		</div>

		<textarea id="dictionaries" name="dictionaries" style="display:none"></textarea>

		<div class="center-align">
			<%= submit_tag 'Submit', class: :button %>
			<%= button_tag 'Reset', type: :reset, id: :reset, class: :button %>
		</div>
	<% end %>

	<% unless @result.nil? || @result.empty? %>
		<h2>Result</h2>
		<pre style="border: 1px solid black"><%= JSON.pretty_generate @result %></pre>
	<% end %>
</fieldset>

<fieldset>
	<legend>Dictionary Selection</legend>
	<%= render partial: 'dictionaries/dictionary_selection' %>
</fieldset>

<fieldset>
	<legend>REST API for lookup</legend>

	<table>
	<tr>
	<td><span class='http_method'>GET</span>|<span class='http_method'>POST</span></td>
	<td><div id="rest_url"></div></td>
	<td>
	<button class="btn" id="clip-btn-url" data-clipboard-action="copy" data-clipboard-target="#rest_url">
		<%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard', title: 'Copy to clipboard' %>
	</button>
	</td>
	</tr>
	</table>

	<h2>Example cURL command</h2>
	<table>
	<tr>
	<th>1</th>
	<td style="text-align:center"><span class='http_method'>GET</span></td>
	<td><div id="curl_command_get"></div></td>
	<td>
		<button class="btn" id="clip-btn-get" data-clipboard-action="copy" data-clipboard-target="#curl_command_get">
			<%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard' %>
		</button>
	</td>
	</tr>

	<tr>
	<th>2</th>
	<td><span class='http_method'>POST</span></td>
	<td><div id="curl_command_post1"></div></td>
	<td>
		<button class="btn" id="clip-btn-post1" data-clipboard-action="copy" data-clipboard-target="#curl_command_post1">
			<%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard' %>
		</button>
	</td>
	</tr>

	<tr>
	<th>3</th>
	<td><span class='http_method'>POST</span></td>
	<td><div id="curl_command_post2"></div></td>
	<td>
		<button class="btn" id="clip-btn-post2" data-clipboard-action="copy" data-clipboard-target="#curl_command_post2">
			<%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard' %>
		</button>
	</td>
	</tr>

	<tr>
	<th>4</th>
	<td><span class='http_method'>POST</span></td>
	<td><div id="curl_command_post3"></div></td>
	<td>
		<button class="btn" id="clip-btn-post3" data-clipboard-action="copy" data-clipboard-target="#curl_command_post3">
			<%= image_tag 'clippy.svg', class: 'clippy', width: 13, alt: 'Copy to clipboard' %>
		</button>
	</td>
	</tr>

	</table>

	<ul class="note">
		<li>In the case of 1, 2 and 3, <i>comma</i> (',') can be used to delimit multiple identifiers.</li>
		<li>In the case of 4, the <i>newline</i> letter also can be used to delimit multiple identifiers, which is convenient to read identifers from a file. For a more detail, you are recommended to read the manual of curl.</li>
	</ul>
</fieldset>

<script type="text/javascript">
	$(function() {
		dictionarySelectionInit();
		set_url();

		var clipboard_url   = new Clipboard('#clip-btn-url');
		var clipboard_get   = new Clipboard('#clip-btn-get');
		var clipboard_post1 = new Clipboard('#clip-btn-post1');
		var clipboard_post2 = new Clipboard('#clip-btn-post2');
		var clipboard_post3 = new Clipboard('#clip-btn-post3');
	});

	$('#dictionaries').change(function() {
		set_url();
	});

	$("#identifiers").on('input', function() {
		set_url();
	});

	$("#superfluous").change(function() {
		set_url();
	});

	$("#verbose").change(function() {
		set_url();
	});

	$('#find_terms').on('reset', function(e)
	{
		setTimeout(function() {
			dictionarySelectionReset();
			set_url();
		}, 0);
	});

	function set_url() {
		var params = [];

		var dictionaries = $('#dictionaries').text();
		if (dictionaries) {
			var param_dics = 'dictionary=' + dictionaries;
			params.push(param_dics);
		}

		var superfluous = $('#superfluous').is(':checked');
		if (superfluous) {
			var param = 'superfluous=' + superfluous;
			params.push(param);
		}

		var verbose = $('#verbose').is(':checked');
		if (verbose) {
			var param = 'verbose=' + verbose;
			params.push(param);
		}

		var url = '<%= root_url %>find_terms.json';
		if (params.length > 0) {url += '?' + params.join('&')}
		$('#rest_url').text(url);

		var identifiers = $('#identifiers').val() || 'id1,id2';
		var identifiersCsv = identifiers.split(/[\n,]/).map(s => s.trim()).filter(s => s).join(',');

		var command_get   = 'curl -G --data-urlencode identifiers="' + identifiersCsv + '" "' + url + '"';
		var command_post1 = 'curl -d identifiers="' + identifiersCsv + '" "' + url + '"';
		var command_post2 = 'curl -H "content-type:text/csv" -d "' + identifiersCsv + '" "' + url + '"';
		var command_post3 = 'curl -H "content-type:text/csv" --data-binary @filename "' + url + '"';

		$('#curl_command_get').text(command_get);
		$('#curl_command_post1').text(command_post1);
		$('#curl_command_post2').text(command_post2);
		$('#curl_command_post3').text(command_post3);
	}
</script>
